@model Blog.ViewModels.RegisterViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Account"))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        @Html.Label(@Blog.LocalResource.Resource.Email, new { @class = "col-md-4 control-label" })
        <div class="col-sm-12 col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="row">
        @Html.Label(@Blog.LocalResource.Resource.Password, new { @class = "col-md-4 control-label" })
        <div class="col-sm-12 col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div><br />
        <div class="row">
            @Html.Label(@Blog.LocalResource.Resource.ConfirmPassword, new { @class = "col-md-4 control-label" })
            <div class="col-sm-12 col-md-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div><br />
        <div class="row">
            @Html.Label(@Blog.LocalResource.Resource.UserName, new { @class = "col-md-4 control-label" })
            <div class="col-sm-12 col-md-8">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div><hr />
            <div class="col-sm-12 col-md-offset-5 col-md-7">
                <input type="submit" class="btn btn-primary" value="@Blog.LocalResource.Resource.Submit" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
