@model Blog.ViewModels.EntitiesViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Blog.LocalResource.Resource.RemoveArticle "@Html.DisplayFor(model => model.Article.Title)"?</h3>
<div>
    <hr />
    <div class="form-group">
        <strong>@Blog.LocalResource.Resource.Text:</strong>
        <div class=" distance paddingleft">
            @Html.DisplayFor(model => model.Article.Text)
        </div>
        <strong>@Blog.LocalResource.Resource.CreationDate:</strong>

        @Html.DisplayFor(model => model.Article.CreationDate)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="@Blog.LocalResource.Resource.Delete" class="btn btn-danger" />
            <a href="/Admin/Index" class="btn btn-warning">@Blog.LocalResource.Resource.ReturnToArticles</a>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
