@model Blog.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Статья</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Article.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
