@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Blog.LocalResource.Resource.Logoff</a></li>
    </ul>
}

<div class="tabsLink">
    <a href="#articleTab">@Blog.LocalResource.Resource.Articles</a>
    <a href="#adminTab">@Blog.LocalResource.Resource.Admins</a>
</div>
<br />
<a class="tabs" id="articleTab"></a>
<div class="tab">
    <br>
    <a href="/Admin/Create" class="btn btn-success btn-lg">@Blog.LocalResource.Resource.CreateArticle</a>

    <div id="example">
        <div id="articleGrid"></div>
    </div>
</div>

<a class="tabs" id="adminTab"></a>
<div class="tab">
    <br />
    <a href="~/Account/Register" class=" btn btn-primary">@Blog.LocalResource.Resource.RegisterAdmin</a>
    <div id="example">
        <div id="grid"></div>
    </div>
</div>

<input type="hidden" id="Resource_Edit" value="@Blog.LocalResource.Resource.Edit">
<input type="hidden" id="Resource_Delete" value="@Blog.LocalResource.Resource.Delete">
<input type="hidden" id="Resource_Title" value="@Blog.LocalResource.Resource.Title">
<input type="hidden" id="Resource_Text" value="@Blog.LocalResource.Resource.Text">
<input type="hidden" id="Resource_CreationDate" value="@Blog.LocalResource.Resource.CreationDate">
<input type="hidden" id="Resource_UserName" value="@Blog.LocalResource.Resource.UserName">
<input type="hidden" id="Resource_Email" value="@Blog.LocalResource.Resource.Email">

<script src="~/Scripts/App/AdminScripts/article-list_kendo.js"></script>
<script src="~/Scripts/App/AdminScripts/admin-list_kendo.js"></script>
