@model Blog.ViewModels.ArticleViewModel

<h4>Статья</h4>
<br />
<b>@Model.Article.Title</b>
<br /><br />
@Model.Article.Text
@*<table>
        @foreach (var c in Model.Comments)
            {
                    <tr>
                        <td><p>@c.UserName</p></td>
                        <td><p>@c.Text</p></td>
                        <td><p>@c.CreationDate</p></td>
                    </tr>
                }
    </table>*@
@using (Html.BeginForm("Read", "Article", FormMethod.Post))
{
    <h4>Comment</h4>
    @Html.HiddenFor(a => a.Article.Id)

    <div>
        Пользователь:
        @Html.TextBoxFor(c => c.UserName)
        Комментарий:
        @Html.TextBoxFor(c => c.Text)

        <input type="submit" value="Добавить" />
    </div>
}

